#navbarBrand{
  color: #F28C28;

}
.pokemon-list  {
      width: 450px;
      display: inline-table;
      border: #F28C28 solid;
      border-radius: 10px;
  }

  div.listAlign{
    text-align: center;
  }

  .modal-title{
    color:#6082B6;
    text-align: center;
  }

  .pokemonButton{
    width:50%;
  }