p {
    color:#6498a4;
    line-height: 1.5;
}

ul{
    list-style-type: none;
}

.pokemon-button {
    background-color: #fff;
    border: #6498a4 solid;
    text-align: center;
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 8px;
    /*display: block;*/
    width: 25%;
    margin-bottom: 5px;
}

.pokemon-button:hover {
    color: #fff;
    background-color:#6498a4 ;
}